<!DOCTYPE html>
<html>
<head>
	<meta content="charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>FlexSlider vs. Kwiks Demo</title>	
	<!-- FlexSlider pieces -->
    <link href="../css/default.css" rel="stylesheet" media="screen" />
	<!-- Includes for this demo -->
    <link href="../css/demo.css" rel="stylesheet" />
</head>
<body>
	<div id="container">
		<h2><a href="/login" alt="log in">@Model.title</a></h2>
		
		<div class="flexslider">
			<ul class="slides">
                @Each.Model.items
				<li>
                    <img src="../images/@Current.Value.Image" />
					<div class="flex-caption">
						<h3>@Current.Value.Title</h3>
						<p>@Current.Value.Description</p>
					</div>
				</li>	
                @EndEach	 
			</ul>
	  </div>
	</div>
	<span id="responsiveFlag"></span>

    <script src="../js/jquery-1.10.2.js"></script>
    <script src="../js/jquery.flexslider-min.js"></script>
    <!-- Kwiks pieces -->
    <script src="../js/kwiks.js"></script>
    <!-- Hook up the FlexSlider -->
    <script type="text/javascript">
        var Main = Main || {};

        jQuery(window).load(function () {
            window.responsiveFlag = jQuery('#responsiveFlag').css('display');
            Main.gallery = new Gallery();

            jQuery(window).resize(function () {
                Main.gallery.update();
            });
        });

        function Gallery() {
            var self = this;
            container = jQuery('.flexslider'),
            clone = container.clone(false);

            this.init = function () {
                if (responsiveFlag == 'block') {
                    var slides = container.find('.slides');

                    slides.kwicks({
                        max: 500,
                        spacing: 0
                    }).find('li > a').click(function () {
                        return false;
                    });
                } else {
                    container.flexslider();
                }
            }
            this.update = function () {
                var currentState = jQuery('#responsiveFlag').css('display');

                if (responsiveFlag != currentState) {

                    responsiveFlag = currentState;
                    container.replaceWith(clone);
                    container = clone;
                    clone = container.clone(false);

                    this.init();
                }
            }

            this.init();
        }
    </script>
</body>


</html>